AzureServiceClient/AzureServiceClient/Service References/ServiceReference2/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DirectoryEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirectoryEntry" nillable="true" type="tns:DirectoryEntry" />
  <xs:complexType name="ArrayOfDirectoryEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirectoryEntry" nillable="true" type="tns:DirectoryEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirectoryEntry" nillable="true" type="tns:ArrayOfDirectoryEntry" />
</xs:schema>